* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1917;
  color: #fafafa;
  font-family: "Sono", sans-serif;
}
.header {
  margin-bottom: 40px;
}
.fact-form {
  background-color: #292524;
  margin-bottom: 40px;
}
h1 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Sono", sans-serif;
  font-weight: 800;
}
.fact {
  font-size: 20px;
  line-height: 1.4;

  background-color: #292524;
}
.tag {
  font-size: 14px;
  font-family: "Sono", sans-serif;
  font-weight: 700;
}

ul {
  list-style: none;
}
